*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #e5e7eb;
}
body, h1, h2 {
  margin: 0;
}
  
#nav{
  background-color: #1e293b;
  position: fixed;
  display: flex;
  padding: 0 1rem;
  top: 0;
  height: 5rem;
  left: 4%;
  right: 0;
  color: white;
}
#nav-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: inherit;
    justify-content: space-between;
    align-items: center;
}
#nav-title1{
  font-size: 25pt;
}
#nav-btn{
  height: 3rem;
  width: 3rem;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 0.5rem;

}
.link{
  color: white;
    text-decoration: none;
    font-size: 1.3rem;
}
#nav-link-container {
  display: flex;
  gap: 1rem;
  display: none; 
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover{
  text-decoration: underline;
}
#main-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#main-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  max-height: 70%;
  justify-content: center;
  background-color: #1e293b;
  color: white;
}
#main-title{
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 1rem;
    text-size-adjust: 100%;
    font-size: 30pt;
    
  }
  #input-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
  }
  #div-input-text{
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 0.5rem;
  }
  #form-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
  #input-app{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    font-size: 14pt;
  }
#btn-add{
  height: 2rem;
  width: 2rem;
  padding: 0;
  background-color: transparent;
  color: white;
}
#cont-list{
    border: 1rem black ;
    border-color: black;
    background-color: #6a7fa1;
    margin: 0;
    padding: 0;
    list-style: none;
    word-break: break-all;
    overflow-y: scroll;
}
#list{
    display: flex;
    border-bottom-width: 2px;
    border-color: #1a1d31;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    text-align: justify;
    max-height: calc(70vh - 2rem);
}
#body-list{
  width: 74%;
  margin: 0;
}
#btn-del-list{
    width: 10%;
    height: 2.5rem;
    background-color: transparent;
    color: white;
}
#btn-check{
  width: 10%;
  height: 2.5rem;
  background-color: transparent;
  color: white;
}

@media (min-width: 768px) {
  #nav-btn{
  display: none;
  }
  #nav-link-container {
      display: flex;
  }
  #btn-del-list{
    width: 7%;
  }
  #btn-check{
    width: 7%;
  }
}
@media (min-width: 1024px) {
  #main-desc-container{
      width: 50%;
  }
  #btn-del-list{
    width: 3.5%;
  }
  #btn-check{
    width: 3.5%;
  }
  #body-list{
    width: 93%;
  }
}